{% extends 'base.html.twig' %}

{% block title %}Sorteo{% endblock %}

{% block body %}
    <style>
        .a-last-child {
            display: inline-block;
            padding: 8px 16px;
            margin-right: 5px;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
            border: none;
            text-align: center;
            line-height: 1.5;
            background-color: #3f51b5;
            color: white;
        }

        .a-last-child:hover {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
            background-color: #303f9f;
        }

        img {
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <img src="{{asset('images/logo.png')}}" alt="Logo">

    <h1>Sorteo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Lugar</th>
                <th>Max Participantes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sorteo in sorteos %}
            <tr>
                <td>{{ sorteo.id }}</td>
                <td>{{ sorteo.nombreActividad }}</td>
                <td>{{ sorteo.fecha ? sorteo.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorteo.lugar }}</td>
                <td>{{ sorteo.maxParticipantes }}</td>
                <td>
                    <a href="{{ path('app_sorteo_show', {'id': sorteo.id}) }}">Mostrar</a>
                    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay datos disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_new') }}" class="a-last-child">Crear Sorteo</a>
{% endblock %}
