{% extends 'base.html.twig' %}

{% block title %}Participante{% endblock %}

{% block body %}
    <style>
        .a-last-child {
            display: inline-block;
            padding: 8px 16px;
            margin-right: 5px;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
            border: none;
            text-align: center;
            line-height: 1.5;
            background-color: #3f51b5;
            color: white;
        }

        .a-last-child:hover {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
            background-color: #303f9f;
        }

        img {
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <img src="{{asset('images/logo.png')}}" alt="Logo">

    <h1>Participante</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Código de Entrada</th>
                <th>Ganador</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ participante.id }}</td>
                <td>{{ participante.nombre }}</td>
                <td>{{ participante.email }}</td>
                <td>{{ participante.codigoEntrada }}</td>
                <td>{{ participante.esGanador ? 'Sí' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_participante_show', {'id': participante.id}) }}">Mostrar</a>
                    <a href="{{ path('app_participante_edit', {'id': participante.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay datos disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participante_new') }}" class="a-last-child">Crear Usuario</a>
{% endblock %}
